*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 2000px;
    background-color: #85dde0;
   /* background-image: url(./imagens/arranjo-da-vista-superior-das-ferramentas-para-carpintaria_23-2148640256.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
}
header{
    height: 100px;
    background-color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    background-color: #85dde0;
}


#menu ul{
    max-width: 1000px;
    list-style: none;
    padding: 0;
    background-color: rgb(37, 34, 34);
   
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
#menu ul li a:hover{
    background-color: rgb(35, 75, 204);
   
}
#menu ul li:last-child a {
    float: right;
    background-color: rgb(24, 60, 219);

}
.FixoNoTopo{
    position: sticky;
    top: 0px;
}
p{
    width: 20%;
    height: 300px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
}

